@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3 class="text-center mt-4">Rol Ekle</h3>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-primary text-white text-center">
                <h5>Yeni Rol Oluştur</h5>
            </div>
            <div class="card-body">
                <form asp-action="RoleCreate">
                    <div class="mb-3">
                        <label for="roleName" class="form-label">Rol Adı</label>
                        <input type="text" name="roleName" id="roleName" class="form-control" placeholder="Rol adını giriniz" required />
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-block">Rol Oluştur</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
